<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="webbody.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="webheader.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="forecaststyle.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="currentweather.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="boardstyle.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="webstylesResponsive.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="iconstyle.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="webanimation.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>JusWeather</title>
</head>

<body>
    <header class="header">
        <div class="title">
            <a class="firstStyle">Jus</a><a class="secondStyle">Weather</a>
        </div>
        <form action="/weather" class="searchBar" method="get">
            <!-- name="city" is important when in req.query.city -->
            <input type="text" name="city" class="barStyle" placeholder="Search City">
            <button type="submit" class="barStyle">
                <svg class="magnifier" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
                    stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m15.97 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007z"
                        fill-rule="nonzero" />
                </svg>
            </button>
        </form>
    </header>
    <% if (error) { %>
        <p class="error">
            <%= error %>
        </p>
        <% } else if (weather && iconUrl && getTime && getDate && icons && temps && dates && times) { %>
            <div class="weather">
                <div class="left">
                    <div class="main-weather">
                        <div class="current">
                            <div class="upper-current">
                                <div class="weather-title">
                                    Current Weather
                                </div>
                                <div class="weather-description">
                                    <%=weather.weather[0].main%>, <%=weather.weather[0].description%>
                                </div>
                            </div>
                            <div class="lower-current ">
                                <div class="lower-left test">
                                    <div class="temperature">
                                        <%= (weather.main.temp - 273.15).toFixed(0) %>°C
                                    </div>
                                    <div class="date">
                                        <%= getDate %>, <%= getTime %>
                                    </div>
                                    <div class="location">
                                        <%=weather.name%>, <%=weather.sys.country%>
                                    </div>
                                </div>
                                <div class="lower-right test">
                                    <img src="<%= iconUrl %>" alt="Weather Icon">


                                </div>
                            </div>
                        </div>




                        <div class="forecast">
                            <legend class="forecast-head">3-Hour Forecast</legend>
                            <div class="forecast-list">
                                <div class="list-icon">
                                    <img src="<%= icons[0] %>" class="icon-size">
                                </div>
                                <div class="list-temp">
                                    <%= temps[0] %>°C
                                </div>
                                <div class="list-date">
                                    <%= dates[0] %>
                                </div>
                                <div class="list-day">
                                    <%= times[0] %>
                                </div>
                            </div>
                            <div class="forecast-list">
                                <div class="list-icon">
                                    <img src="<%= icons[1] %>" class="icon-size">
                                </div>
                                <div class="list-temp">
                                    <%= temps[1] %>°C
                                </div>
                                <div class="list-date">
                                    <%= dates[1] %>
                                </div>
                                <div class="list-day">
                                    <%= times[1] %>
                                </div>
                            </div>
                            <div class="forecast-list">
                                <div class="list-icon">
                                    <img src="<%= icons[2] %>" class="icon-size">
                                </div>
                                <div class="list-temp">
                                    <%= temps[2] %>°C
                                </div>
                                <div class="list-date">
                                    <%= dates[2] %>
                                </div>
                                <div class="list-day">
                                    <%= times[2] %>
                                </div>
                            </div>
                            <div class="forecast-list">
                                <div class="list-icon">
                                    <img src="<%= icons[3] %>" class="icon-size">
                                </div>
                                <div class="list-temp">
                                    <%= temps[3] %>°C
                                </div>
                                <div class="list-date">
                                    <%= dates[3] %>
                                </div>
                                <div class="list-day">
                                    <%= times[3] %>
                                </div>
                            </div>
                            <div class="forecast-list">
                                <div class="list-icon">
                                    <img src="<%= icons[4] %>" class="icon-size">
                                </div>
                                <div class="list-temp">
                                    <%= temps[4] %>°C
                                </div>
                                <div class="list-date">
                                    <%= dates[4] %>
                                </div>
                                <div class="list-day">
                                    <%= times[4] %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>







                <div class="right">
                    <div class="weather-board">
                        <div class="humidity board">
                            <div class="board-text top-text">Humidity</div>
                            <div class="value">
                                <%=weather.main.humidity%>%
                            </div>
                        </div>
                        <div class="pressure board">
                            <div class="board-text">Atmospheric Pressure</div>
                            <div class="value">
                                <%=weather.main.pressure%>HPA
                            </div>
                        </div>
                        <div class="visibility board">
                            <div class="board-text">visibility</div>
                            <div class="value">
                                <%=(weather.visibility) /1000 %>KM
                            </div>
                        </div>
                        <div class="feeling board">
                            <div class="board-text">Feels Like</div>
                            <div class="value">
                                <%= (weather.main.feels_like - 273.15).toFixed(0) %>°C
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
</body>

</html>